$grey: #999;
$white: #fff;

html {
    background-color: $grey;
    color: $white;
    font-family: sans-serif;
    text-align: center;
}
.axis {
    path,
    line {
        fill: none;
        stroke: #666;
        shape-rendering: crispEdges;
    }
    text{
        fill: #666;
    }
}

.color-box{
    // width: 20px;
    // height: 20px;
    display: inline;
    padding: 5px;
    &.box-0 {
        border: 1px solid rgba(116, 138, 125, 0.85);
        background-color: rgba(163, 214, 183, 0.3);
        padding-left: 30px;
    }
    &.box-1{
        border: 1px solid rgba(228,168,64,0.85);
        background-color: rgba(154, 118, 56, 0.3);
        padding-right: 30px;
    }
}


// .x.axis{
//     display: none;
// }
.x.axis path,
.y.axis path {
  display: none;
}

.temp-range {
    &.min-max-0 {
        fill: rgba(163, 214, 183, 0.3);
    }
    &.min-max-1 {
        fill: rgba(154, 118, 56, 0.3);
    }
}


.avg-temp {

    fill: none;
    stroke: blue;
    stroke-width: 2px;

    &.avg-0 {
        stroke: rgba(116, 138, 125, 0.85);
    }

    &.avg-1 {
        stroke: rgba(228,168,64,0.85);
    }
}

p.small{
    color: #666;
    font-size: .9rem;

    &.hidden {
        visibility: hidden;
    }
}
